@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: red;
}
h2 {
  font-size: 17px;
  color: gray;
}
.form {
  max-width: 800px;
  margin: auto;
  display: flex;
  border: 2px solid black;
}
.left-form {
  width: 400px;
  border-right: 1px solid gray;
}
hr {
  width: 200px;
  margin: auto;
  border: 1px solid red;
}
.info-dn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}
.info-dn input {
  margin: 10px;
  height: 15px;
}
.info-dn button {
  width: 200px;
  padding: 10px;
  margin: 10px;

  border-radius: 8px;
  box-shadow: -22px 11px 171px -42px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -22px 11px 171px -42px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -22px 11px 171px -42px rgba(0, 0, 0, 0.75);
}

.click-dn {
  background-color: cornflowerblue;
  color: white;
  margin: 0 10px;
}
.click-rePass {
  background-color: white;
  color: gray;
}

/*--css right-container--*/
.right-form {
  width: 400px;
  text-align: center;
}

.right-form button {
  width: 70%;
  margin: auto;
  padding: 5px;
  margin-top: 15px;

  border-radius: 8px;
  box-shadow: -22px 11px 171px -42px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -22px 11px 171px -42px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -22px 11px 171px -42px rgba(0, 0, 0, 0.75);
}
